#pagelet_sidebar {
    display:none !important;
}
#pagelet_megaphone {
    display:none !important;
}
#rightCol {
    display:none !important;
}
/*
#rightColumnWrapper /*> div:not(.pagelet)* / {
    display:none;
}
*/
#blueBar {
    left:auto !important;
    right:auto !important;
    min-width:0 !important;
    padding-left: 9px !important;
    padding-right: 9px !important;
}
#pagelet_welcome_box {
    display:none !important;
}
#pageNav > li:not(.firstitem):not(#navJewels)
{
    display:none !important;
}
#headerArea {
    display:none !important;
}
/*
.roundedBox { 
    max-width:auto;
}
*/
#pageHead {
    width:22px;
    /*    
    width:auto;
    width:421px;
    */
    padding-right: 1px !important;
    overflow:hidden !important;
    opacity:0.1 !important;
}
#headNav {
    width:421px;
}

#pageLogo a {

}
